:root {
  --primary-color: #007bff;
  --text-color: #333;
  --background-color: black;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  line-height: 1.6;
  color: var(--text-color);
  background-color: black;
}
footer {
  color: white;
  text-align: center;
  background-color: var(--primary-color);
}

/* Navigation */
.nav__list {
  display: flex;
  justify-content: space-around;
  gap: 15%;
  list-style: none;
  background: var(--primary-color);
  padding: 0%;
  margin: 0;
}
.nav__link {
  display: inline-block;
  padding: 2rem 1rem;  /* top/bottom | left/right */
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav__link:hover {
  text-decoration: underline;
}

/* Intro Section */
.intro {
  text-align: center;
  padding: 2rem;
}

.intro__photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
